<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">
    <i class="bi bi-search"></i>
  </span>
  <input type="text" class="form-control" id="albumSearch" onkeyup="searchTable()"
    placeholder="Filter by album name, artist, release year, record label or genre...">
</div>
<table class="table table-dark align-middle" id="albumTable">
  <thead>
    <tr>
      <th scope="col" class="text-center">#</th>
      <th scope="col" class="text-center"></th>
      <th scope="col">
        <i class="bi bi-arrow-down-up"></i>
        Album Name
      </th>
      <th scope="col">
        <i class="bi bi-arrow-down-up"></i>
        Artist
      </th>
      <th scope="col" class="text-center">
        <i class="bi bi-arrow-down-up"></i>
        Year
      </th>
      <th scope="col" class="text-center">
        <i class="bi bi-arrow-down-up"></i>
        Record Label
      </th>
      <th scope="col" class="text-center">
        <i class="bi bi-arrow-down-up"></i>
        Genre
      </th>
      <th scope="col" class="text-center">
      </th>
    </tr>
  </thead>

  <tbody>

    <% data.forEach(album=> { %>

    <tr>

      <th id="num" scope="row" class="text-center"><%= album.album_id %></th>

      <td class="imageholder">
        <a href="/albums/<%= album.album_id %>" draggable='false'>
          <img class="image" src=<%=album.cover_image_url %>>
        </a>
      </td>
      <td>
        <a class="link-none" href="/albums/<%= album.album_id %>" draggable='false'><%= album.album_name %></a>
      </td>
      <td>
        <% album.albumArtists.forEach(artist=> { %>
        <a class="link-none" href="/artists/<%= artist.artist_id %>" draggable='false'>
          <%= artist.artist_name %>
        </a>
        <% }) %>
      </td>
      <td class="text-center"><%= album.release_year %></td>
      <td class="text-center"><%= album.record_label_name %></td>
      <td class="text-center"><%= album.genre_name %></td>

      <%- include('albumTableDropdown', {album}) %>

    </tr>

    <% }) %>

  </tbody>

</table>


<script>

  function searchTable() {
    // Declare variables
    let input, filter, table, tr, td, i, txtValue
    let searchVals = []
    input = document.getElementById("albumSearch");
    filter = input.value.toUpperCase();
    table = document.getElementById("albumTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      tdAlbum = tr[i].getElementsByTagName("td")[1];
      tdArtist = tr[i].getElementsByTagName("td")[2];
      tdYear = tr[i].getElementsByTagName("td")[3];
      tdRecord = tr[i].getElementsByTagName("td")[4];
      tdGenre = tr[i].getElementsByTagName("td")[5];

      if (tdAlbum) {
        searchVals[0] = tdAlbum.innerText.toUpperCase().indexOf(filter)
        searchVals[1] = tdArtist.innerText.toUpperCase().indexOf(filter)
        searchVals[2] = tdYear.innerText.toUpperCase().indexOf(filter)
        searchVals[3] = tdRecord.innerText.toUpperCase().indexOf(filter)
        searchVals[4] = tdGenre.innerText.toUpperCase().indexOf(filter)

        if (searchVals.some(val => val > -1)) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  var getCellValue = function (tr, idx) { return tr.children[idx].innerText || tr.children[idx].textContent; }

  var comparer = function (idx, asc) {
    return function (a, b) {
      return function (v1, v2) {
        return v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2);
      }(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    }
  };

  // do the work...
  Array.prototype.slice.call(
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
      const table = th.closest('table');
      const tbody = table.querySelector('tbody');
      Array.from(tbody.querySelectorAll('tr'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
        .forEach(tr => tbody.appendChild(tr))
    })))
  )



</script>