<div class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 g-4">

  <% data.forEach(collection=> { %>

  <a class="link-none" href="/collections/<%= collection.collection_id %>">
    <div class=" col">
      <div class="card h-100 cardborder text-center mycard">

        <div class="card-img-top">
          <div class="cardimage">
            <img class="image" src=<%=collection.albumImages[0] %>>
            <img class="image" src=<%=collection.albumImages[1] %>>
          </div>
          <div class="cardimage">
            <img class="image" src=<%=collection.albumImages[2] %>>
            <img class="image" src=<%=collection.albumImages[3] %>>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">
            <%= collection.collection_name %>
          </h5>

          <p class="card-text">
            <a class="link-none" href="/users/<%= collection.user_id %>">
              <%= collection.user_name %>
            </a>
          </p>
          <p class="card-text">
            <i class="bi bi-heart"><%= collection.likes %></i>
            <i class="bi bi-chat"><%= collection.comments %></i>
          </p>

        </div>
        <div class="card-footer">
          <% 
          let lastEditDateTime = new Date(collection.collection_last_edit_date)
          lastEditDateTime.setTime( lastEditDateTime.getTime() - lastEditDateTime.getTimezoneOffset() * 60 * 1000 );

          let millisecs = new Date().getTime()-lastEditDateTime.getTime()
          let minutes = Math.floor(millisecs/(1000*60)) 
          let hours = Math.floor(minutes/60)
          let days = Math.floor(hours/24)

          let output = minutes + " minutes ago"
          if (minutes === 0) output = "Just now"
          if (minutes>60) output = hours + " hours ago"
          if (hours>24) output = days + " days ago"
          %>
          <small class="text-muted">Last updated: <%=output%>
          </small>
        </div>
      </div>
    </div>
  </a>
  <% }) %>
</div>