<%- include('components/header') %>
<%- include('components/navbar') %>


<form method="POST" class="needs-validation" id="send" action="/addcollection" novalidate>

  <div class="myheadings">
    <h3>Add Collection
    </h3>

    <div class="addcollection">
      <p>Add Collection Name and select desired albums from the list below</p>

      <div class="input-group mb-3">
        <span class="input-group-text">User</span>
        <input type="text" class="form-control" id="collectionnameinput" placeholder=<%= user.user_name %>
          aria-label="CollectionName" name="collectionname" disabled>

      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Collection Name</span>
        <input type="text" class="form-control" id="collectionnameinput" placeholder="Collection Name"
          aria-label="CollectionName" name="collectionname" required>
        <button class="btn btn-primary" type="submit" id="button-addon2">Add Collection</button>
        <div class="invalid-feedback">
          Please choose a Collection Name.
        </div>
      </div>

    </div>
  </div>

  <%- include('components/addAlbumTable', {data}) %>

</form>


<script>
  // Disabling form submissions if there are invalid fields
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>

<%- include('components/footer') %>