<%- include('components/header') %>
<%- include('components/navbar') %>

<% if(data.message!="collection does not exist") { %>


<div class="myheadings">
  <h3><%= data.collection_name %></h3>
  <h4>Created by: <%= data.user_name %></h4>
  <h5>Created on: <%= data.collection_creation_date %> Last edited: <%= data.collection_last_edit_date %></h5>
</div>

<%- include('components/albumTable', {data: data.albums}) %>

<% } else { %>
<div class="myheadings">
  <h3>Collection does not exist</h3>
</div>

<% } %>


<%- include('components/footer') %>