<%- include('components/header') %>
<%- include('components/navbar') %>




<div class="container ">
  <div class="row">
    <div class="col-4">
      <img src=<%=data.cover_image_url %> class="img-fluid album-image" alt="...">


    </div>
    <div class="col light-text align-middle">
      <h3><%= data.album_name %> (<%= data.release_year %>)</h3>
      <h3><% data.artists.forEach(artist => { %>
        <%= artist.artist_name %>
        <% }) %></h3>

      <ul class="genres">
        <li class="genre"><%= data.genre_name %></li>
        <% data.subgenres.forEach(genre => { %>
        <li class="genre">
          <%= genre.genre_name %>
        </li>

        <% }) %>
      </ul>

      <h3><%= data.record_label_name %></h3>

    </div>

  </div>
</div>
<br>

<table class="table table-dark align-middle table table-striped">
  <tbody>
    <% let index =1 %>
    <% data.tracks.forEach(track=> { %>
    <tr>
      <th scope="row" class="text-center" style="width: 50px;"><%= index++ %></th>
      <td>
        <%= track.track_name %>
      </td>
      <td class="text-center" style="width: 100px;">
        <%= track.track_playtime.toFixed(2) %>
      </td>

    </tr>

    <% }) %>

  </tbody>
</table>

<br>

<div class="light-text">
  <h5> Featured on:</h5>


  <div class="collection-scroll">
    <ul>
      <% data.collections.forEach(collection => { %>
      <a class="link-none" href="/collections/<%= collection.collection_id %>">
        <li>
          <%= collection.collection_name %>
        </li>
      </a>


      <% }) %>
    </ul>
  </div>

</div>


<%- include('components/footer') %>