<%- include('components/header') %>
<%- include('components/navbar') %>

<div class="myheadings">
  <h2>Collections - <%= data[0].user_name %></h2>
</div>

<%- include('components/collectionTable', {data}) %>

<br>





<%- include('components/footer') %>